<script>
  window.location = '#section_main';
</script>

<main>
  <div id="top"></div>
  <div class="clearfix">
    <div class="sm-col sm-col-5">
        <%= render partial:"/partials/search_form" %>
    </div>

    <div id="section_main"></div>
    <div class="sm-col sm-col-7">
        <div class="search-again-container">
          <a href="#top">Search again</a>
        </div>
        <%= render partial:"/partials/onscreen_menu" %>

        <% @presenter.locations.each_with_index do |location, index| %>
          <div class="clearfix">
            <div class="location flex-row">

              <div class="sm-col sm-col-3">
                <%= render partial:"/partials/#{location.hours_status}", :locals => {:location => location } %>
              </div>
              <div class="sm-col sm-col-7 location-info-container">
                <p class="name info-text m0 p0"> <%= location.name %></p>
                <p class="formatted_address info-text m0 p0"> <%= location.formatted_address %></p>
                <p class="formatted_phone_number info-text m0 p0"> <%= location.formatted_phone_number %></p>
                <p class="website info-text m0 p0"> <%= link_to "More info", location.website %></p>
              </div>

            </div>
          </div>
          <div class="component-container">
            <%= react_component 'MapContainer', googleApiKey: ENV["GOOGLE_API_KEY"], center: [location.location[0], location.location[1]], zoom: 15, locationIndex: index %>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</main>
