<!-- <script>
$(document).ready(function() {

  $('.dropdown-toggle').click(function(){
    $(this).next('.dropdown').toggle(250);
  });

  $(document).click(function(e) {
    var target = e.target;
    if (!$(target).is('.dropdown-toggle') && !$(target).parents().is('.dropdown-toggle')) {
      $('.dropdown').hide();
    }
  });
});
</script> -->

<nav>
  <div class="clearfix">
    <div class="left">
        <%= link_to "Sheltr", root_path, class:"btn"%>
    </div>
    <div class="right">
        <% if I18n.locale == :es %>
          <%= link_to "in english", translate_path(locale: "en"), method: "put", class:"btn btn-primary translate-button" %>
        <% else %>
            <%= link_to "en español", translate_path(locale: "es"), method: "put", class:"btn btn-primary translate-button" %>
        <% end %>
      <div class='dropdown-toggle btn py0 m0' onClick=><i class="fas fa-bars"></i></div>
        <ul class='dropdown'>
          <% if current_user %>
            <li><%= link_to "Logout", logout_path %></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
          <li><%=link_to "About", about_path %></li>
          <li>Contact</li>
        </ul>
      </div>
    <div class="right">
    </div>
    <div class="clearfix sm-hide"></div>
    <div class="overflow-hidden px2">
    </div>
  </div>
</nav>
