<main>
  <div class="clearfix">
    <div class="sm-col sm-col-5">
        <%= render partial:"/partials/search_form" %>
    </div>

    <div class="md-col md-col-7">
      <h1><%= t('.heading') %></h1>
      <p><%= t('.info_1') %><p>

      <p><%= t('.info_2') %></p>

      <p><%= raw t('.info_3') %></p>
    </div>
  </div>
</main>
